body {
	background-color: #000;
	text-align: center;
	margin: 0;
	color: white;
	font-size: 12px;
	font-weight:50px;
	line-height:1.2;
	font-family: Myriad, sans-serif;
	height: 100%;
	position: relative;

}

.wrapper {
	position: relative;
	max-width: 960px;
	margin: 0 auto;
}

#game-holder {
	display: flex;
	/*align-items: center;*/
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100vh;
}

#game {
	position: relative;
	background-color: #fff;
	background-size: cover;
	background-repeat: no-repeat;
	width: 960px;
	height: 540px;
}

#chart {
	z-index: 4;
	position: absolute;
	width:306px;
	height:160px;
	left:494px;
	top:118px;
	padding:10px;
}

#topbox {
	z-index: 4;
	position: absolute;
	width:175px;
	height:100px;
	background-color: #252460;
	left:425px;
	top:160px;
	padding:10px;
}

#leftbox {
	z-index: 4;
	position: absolute;
	width:175px;
	height:100px;
	background-color: #252460;
	left:335px;
	top:340px;
	padding:10px;
}

#rightbox {
	z-index: 4;
	position: absolute;
	width:175px;
	height:100px;
	background-color: #252460;
	left:525px;
	top:340px;
	padding:10px;
}

.shown {
	display: block !important;
}

#topbox, #leftbox, #rightbox {
	display: none;
}

#topbox p, #leftbox p, #rightbox p {
	margin-top: 0;
	text-align: left;
}

.option-left {
	position: absolute;
	width:250px;
	height:186px;
	left: 505px;
	top: 315px;

}


.option-right {
	position: absolute;
	width:250px;
	height:186px;
	left: 705px;
	top: 315px;

}

.option-top {
	position: absolute;
	width:250px;
	height:186px;
	left: 605px;
	top: 125px;

}

.home-button {
	z-index: 3;
	position: absolute;
	padding:10px;
	background-color: transparent;
	width:45px;
	height:43px;
	left: 2px;
	top: 2px;

}

.continue-button {
	z-index: 3;
	position: absolute;
	padding:50px;
	background-color: transparent;
	left: 420px;
	top: 220px;

}
.question-button {
	z-index: 3;
	position: absolute;
	padding:5px;
	background-color: transparent;
	width:23px;
	height:20px;
	left: 920px;
	top: 2px;
}

#info{
	z-index: 4;
	position: absolute;
	width:860px;
	height:69px;
	background-color: #252460;
	top:32px;
	right:40px;
	padding:10px;
	display:none;
}

.start-button {
	position: absolute;
	width:200px;
	height:266px;
	left: 380px;
	top: 245px;
}

.closing-title {
	position: absolute;
	width:200px;
	height:266px;
	left: 555px;
	top: 70px;
}



img {
	width: 100%;
	height: auto;
	display: block;

}